.places {
    clear: both;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

article {
    display: inline-block;
    width: 390px;
    text-align: center;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    flex: 0 0 auto;
    box-sizing: border-box;
}

h1 {
    float: left;
	text-align: left;
	width: 95%;
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
}
